{% extends 'base.html.twig' %}
{% block title %}Bootstrap#$%#4{% endblock %}
{% block body %}
    <div class="container">
        <h1>Bootstrap Layout</h1>
        <div class="row">
            <div class="col-md-3" style="background-color: #999999">
                left4
            </div>
            <div class="col-md-9" style="background-color: green;">
                right8
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="background-color: pink;">
                bot lef
            </div>
            <div class="col-md-6" style="background-color: #6b9311; min-height: 100px;">
                bot rig
                <div class="row">
                    <div class="col-md-4" style="background-color:palevioletred;">embedded columns</div>
                    <div class="col-md-8" style="background-color: #5eb5e0;">rold Newton's postgame outfit was a romper, Jordan told reporters, "The romp-him? We romped him good."

                        Newton fired back on Wednesday as the 8-3 teams prepare to meet for the NFC South lead in Sunday's rematch at the Mercedes-Benz Superdome in New Orleans.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: #880000">
                aoeuaoeu
            </div>
        </div>
    </div>
{% endblock %}
