{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>aoeua  eau ueaaueu</h1>
        <div class="row">
            <div class="col-md-3">
                left4
            </div>
            <div class="col-md-9" style="background-color: green;">
                right8
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="background-color: pink;">
                bot lef
            </div>
            <div class="col-md-6" style="background-color: #6b9311; min-height: 100px;">
                bot rig
            </div>
        </div>
    </div>
{% endblock %}
