{% extends 'test-base.html.twig' %}
{% block title %}Bootstrap#$%#4{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/nav-click.js') }}"></script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        {% include ':githut:top-nav.html.twig' %}
    </nav>

    <div class="container">
        <h1>Bootstrap Layout</h1>
        <div class="row">
            <div class="col-md-3" style="background-color: #999999">
                left3
            </div>
            <div class="col-md-9" style="background-color: green;">
                right9
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="background-color: pink;">
                bot lef
            </div>
            <div class="col-md-6" style="background-color: #931c66; min-height: 100px;">
                bot rig
                <div class="row">
                    <div class="col-md-4" style="background-color:palevioletred;"><div class="well">embedded columns (well)</div></div>
                    <div class="col-md-8" style="background-color: #5eb5e0;">rold Newton's postgame outfit was a romper, Jordan told reporters, "The romp-him? We romped him good."

                        Newton <div class="panel">fired back on Wednesday (panel)</div> as the 8-3 teams prepare to meet for the NFC South lead in Sunday's rematch at the Mercedes-Benz Superdome in New Orleans.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 blue" style="background-color: #ffed83">
                aoeuaoeu
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock %}
