{% extends 'test-base.html.twig' %}
{% block title %}JQu#$%#4{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $("li").click(function(){
                //$(this).addClass('blue').siblings().removeClass('blue');
                $('.blue').removeClass('blue');
                $(this).addClass('blue');
            });
        });
    </script>
    <style>
        .blue {
            color:blue;
        }
    </style>
{% endblock %}

{% block body %}
    aeouaue
    <ul>
        <li class="blue"><button>Saints</button></li>
        <li><button>Falcons</button></li>
        <li><button>Bucs</button></li>
        <li><button>Panthers</button></li>
    </ul>
{% endblock %}


