{% extends 'base.html.twig' %}
{% block title %}Bootstrap#$%#4{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $("li").click(function(){
                //$(this).addClass('active').siblings().removeClass('active');
                $('.active').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
    <style>
        .blue {
            color:blue;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- LOGO -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">WYBLASH</a>
            </div>

            <!-- MENU ITEMS -->
            <div class="collapse navbar-collapse" id="nfcs">
                <ul class="nav navbar-nav">
                    <!--
                    <li class="active"><a href="http://www.espn.com/nfl/team/_/name/no/new-orleans-saints">Saints</a></li>
                    <li><a href="http://www.espn.com/nfl/team/_/name/atl/atlanta-falcons">Falcons</a></li>
                    <li><a href="http://www.espn.com/nfl/team/_/name/car/carolina-panthers">Panthers</a></li>
                    <li><a href="http://www.espn.com/nfl/team/_/name/tb/tampa-bay-buccaneers">Bucs</a></li>
                    -->
                    <li class="active"><a href="#">Saints</a></li>
                    <li><a href="#">Falcons</a></li>
                    <li><a href="#">Panthers</a></li>
                    <li><a href="#">Bucs</a></li>
                </ul>
            </div>

            <!--
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
            -->
        </div>
    </nav>

    <div class="container">
        <h1>Bootstrap Layout</h1>
        <div class="row">
            <div class="col-md-3" style="background-color: #999999">
                left4
            </div>
            <div class="col-md-9" style="background-color: green;">
                right8
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="background-color: pink;">
                bot lef
            </div>
            <div class="col-md-6" style="background-color: #931c66; min-height: 100px;">
                bot rig
                <div class="row">
                    <div class="col-md-4" style="background-color:palevioletred;">embedded columns</div>
                    <div class="col-md-8" style="background-color: #5eb5e0;">rold Newton's postgame outfit was a romper, Jordan told reporters, "The romp-him? We romped him good."

                        Newton fired back on Wednesday as the 8-3 teams prepare to meet for the NFC South lead in Sunday's rematch at the Mercedes-Benz Superdome in New Orleans.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: #ffed83">
                aoeuaoeu
            </div>
        </div>
    </div>
{% endblock %}
