{% extends 'base.html.twig' %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/nav-click.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="demo">uaeueou;oe</div>
    <nav class="navbar navbar-default">
        {% include ':githut:top-nav.html.twig' %}
    </nav>

    <div class="col-sm-3">
        {{ render (controller('AppBundle:GitHut:profile', { 'username': username })) }}
    </div>


    <div class="col-sm-9">
        {{ render (controller('AppBundle:GitHut:repos', { 'username': username })) }}
    </div>
{% endblock %}