{% extends 'base.html.twig' %}

{% block scripts %}
    <script src="{{ asset('js/onclick.js') }}"></script>
{% endblock %}


{% block body %}
    <nav class="navbar navbar-default">
        {% include ':githut:top-nav.html.twig' %}
    </nav>


    <button id="demo">uaoeaoeuaeuaoeu</button>

{% endblock %}