<div class="container-fluid">

    <!-- LOGO -->
    <div class="navbar-header">
        <a href="#" class="navbar-brand">TOP NAV</a>
    </div>

    <!-- MENU ITEMS -->
    <div class="collapse navbar-collapse" id="nfc">
        <ul class="nav navbar-nav division">
            <!--
            <li class="active"><a href="http://www.espn.com/nfl/team/_/name/no/new-orleans-saints">Saints</a></li>
            <li><a href="http://www.espn.com/nfl/team/_/name/atl/atlanta-falcons">Falcons</a></li>
            <li><a href="http://www.espn.com/nfl/team/_/name/car/carolina-panthers">Panthers</a></li>
            <li><a href="http://www.espn.com/nfl/team/_/name/tb/tampa-bay-buccaneers">Bucs</a></li>
            -->
            <li class="active"><a href="javascript:void(0)">Saints</a></li>
            <li><a href="javascript:void(0)">Falcons</a></li>
            <li><a href="javascript:void(0)">Panthers</a></li>
            <li><a href="javascript:void(0)">Bucs</a></li>
        </ul>
    </div>

    <!--
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div>
    -->
</div>